<div [class.light-theme]="isLightTheme$ | async" [class.dark-theme]="!(isLightTheme$ | async)">
    <mat-progress-bar *ngIf="databaseService.loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add user</h1>
    <div mat-dialog-content >
        <form [formGroup]="registerForm" (ngSubmit)="saveUser()">
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label for="firstName">First Name</mat-label>
                    <input id="firstName" [(ngModel)]="databaseService.newUser.firstName" type="text" [disabled]="databaseService.loading" formControlName="firstName" matInput placeholder="Enter the first name">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input [(ngModel)]="databaseService.newUser.lastName" [disabled]="databaseService.loading" formControlName="lastName" matInput placeholder="Enter the last name">
                </mat-form-field>
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>E-Mail</mat-label>
                    <input [(ngModel)]="databaseService.newUser.email" type="email" [disabled]="databaseService.loading" formControlName="email" matInput placeholder="Enter the e-mail adress">
                </mat-form-field>
            </div>
    
            <mat-form-field appearance="outline" class="w-100">
                <mat-label for="password">Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" placeholder="Enter a password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select [(ngModel)]="databaseService.newUser.team" [disabled]="databaseService.loading" formControlName="team" placeholder="Enter a team">
                        <mat-option *ngFor="let team of teams; index as i" value="one">{{ teams[i] }}</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Short name</mat-label>
                    <input [(ngModel)]="databaseService.newUser.shortName" maxlength="4" [disabled]="databaseService.loading" formControlName="shortName" matInput placeholder="Enter a short name">
                    <mat-hint align="start">max. 4 letters</mat-hint>
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button [disabled]="databaseService.loading" (click)="dialogClose()" mat-button>Cancel</button>
                <button type="submit" [disabled]="databaseService.loading" mat-button cdkFocusInitial>Save</button>
            </div>
        </form>
    </div>
</div>