<mat-card>
  <mat-card-content>
    <div class="tasks-header">
      <h2>My tasks</h2>
      <mat-form-field appearance="outline">
        <mat-label>Search task</mat-label>
        <input #searchInput (input)="searchTask()" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table class="tasks-table">
      <tr>
        <th>Due date</th>
        <th>Customer name</th>
        <th>Subject area</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let customerRequestAsTask of customerRequestsAsTasks">
        <td>{{ customerRequestAsTask.dueDate | date:'dd.MM.yy':'':'de' }}</td>
        <td>Name of Customer</td>
        <td>{{ customerRequestAsTask.subjectArea }}</td>
        <td>{{ customerRequestAsTask.title }}</td>
        <td>{{ customerRequestAsTask.priority }}</td>
        <td>{{ customerRequestAsTask.status }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>