<mat-card>
  <mat-card-content>
    <div class="tasks-header">
      <h2>My tasks</h2>
      <mat-form-field appearance="outline">
        <mat-label>Search task</mat-label>
        <input #searchInput [(ngModel)]="searchTerm" (ngModelChange)="searchTask()" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <table class="tasks-table">
      <tr>
        <th>Due date</th>
        <th>Customer name</th>
        <th class="hide-on-small-screen-900">Subject area</th>
        <th>Title</th>
        <th>Priority</th>
        <th class="hide-on-small-screen-900">Status</th>
      </tr>
      <tr *ngFor="let customerRequestAsTask of filteredCustomerRequestsAsTasks" [routerLink]="['/customer-requests/'+customerRequestAsTask.id]">
        <td>{{ customerRequestAsTask.dueDate | date:'dd.MM.yy':'':'de' }}</td>
        <td>{{ customerRequestAsTask.customerName }}</td>
        <td class="hide-on-small-screen-900">{{ customerRequestAsTask.subjectArea.replace('_', ' ') }}</td>
        <td>{{ customerRequestAsTask.title }}</td>
        <td>{{ customerRequestAsTask.priority }}</td>
        <td class="hide-on-small-screen-900">{{ customerRequestAsTask.status.replace('_', ' ') }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>