<mat-card class="user-detail-header">
    <mat-card-content class="user-detail-header-content">
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="btn-edit-user">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="editUserDetail()">Edit user</button>
        </mat-menu>

        <div>
            <h2>{{ userService.user.firstName }} {{ userService.user.lastName }} ({{ userService.user.shortName }})</h2>
            <p>{{ userService.user.email }}</p>
            <p>{{ userService.user.team }}</p>
        </div>
    </mat-card-content>
</mat-card>
