<div [class.light-theme]="isLightTheme$ | async" [class.dark-theme]="!(isLightTheme$ | async)">
    <mat-progress-bar *ngIf="databaseService.loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit user</h1>
    <div mat-dialog-content >
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input *ngIf="databaseService.user" [(ngModel)]="databaseService.user.firstName" [disabled]="databaseService.loading" matInput placeholder="Enter your first name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input *ngIf="databaseService.user" [(ngModel)]="databaseService.user.lastName" [disabled]="databaseService.loading" matInput placeholder="Enter your last name">
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>E-Mail</mat-label>
                <input *ngIf="databaseService.user" [(ngModel)]="databaseService.user.email" [disabled]="databaseService.loading" matInput placeholder="Enter your e-mail adress">
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Team</mat-label>
                <input *ngIf="databaseService.user" [(ngModel)]="databaseService.user.team" [disabled]="databaseService.loading" matInput placeholder="Enter your team">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Short Name</mat-label>
                <input *ngIf="databaseService.user" [(ngModel)]="databaseService.user.shortName" [disabled]="databaseService.loading" matInput placeholder="Enter your short name">
            </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="databaseService.loading" (click)="dialogRef.close()" mat-button>Cancel</button>
        <button [disabled]="databaseService.loading" (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
    </div>    
</div>