<div [class.light-theme]="isLightTheme$ | async" [class.dark-theme]="!(isLightTheme$ | async)">
    <mat-progress-bar *ngIf="databaseService.loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit customer contact</h1>
    <div mat-dialog-content >
        <form [formGroup]="updateCustomerContactForm" (ngSubmit)="saveCustomerContact()">
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label for="firstName">First name</mat-label>
                    <input id="firstName" type="text" [disabled]="databaseService.loading" formControlName="firstName" matInput placeholder="Enter the First name">
                    <mat-error *ngIf="updateCustomerContactForm.get('firstName')?.invalid && updateCustomerContactForm.get('firstName')?.errors?.['required']">Please enter a First name</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label for="lastName">Last Name</mat-label>
                    <input id="lastName" [disabled]="databaseService.loading" formControlName="lastName" matInput required placeholder="Enter the last name">
                    <mat-error *ngIf="updateCustomerContactForm.get('lastName')?.invalid && updateCustomerContactForm.get('lastName')?.errors?.['required']">Please enter a Last Name</mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label for="zip">Phone</mat-label>
                    <input id="phone" [disabled]="databaseService.loading" formControlName="phone" matInput required placeholder="Enter the phone number">
                    <mat-error *ngIf="updateCustomerContactForm.get('phone')?.invalid && updateCustomerContactForm.get('phone')?.errors?.['required']">Please enter a phone number</mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label for="email">E-Mail</mat-label>
                    <input id="email" type="email" [disabled]="databaseService.loading" formControlName="email" matInput required placeholder="Enter the e-mail adress">
                    <mat-error *ngIf="updateCustomerContactForm.get('email')?.invalid && updateCustomerContactForm.get('email')?.errors?.['required']">Please enter a valid email address</mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label for="position">Position</mat-label>
                    <input id="position" [disabled]="databaseService.loading" formControlName="position" matInput required placeholder="Enter the last name">
                    <mat-error *ngIf="updateCustomerContactForm.get('position')?.invalid && updateCustomerContactForm.get('position')?.errors?.['required']">Please enter a Last Name</mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions>
                <button [disabled]="databaseService.loading" (click)="dialogRef.close()" mat-button>Cancel</button>
                <button type="submit" [disabled]="databaseService.loading" mat-button cdkFocusInitial>Save</button>
            </div>
        </form>
    </div>
</div>
