<div [class.light-theme]="isLightTheme$ | async" [class.dark-theme]="!(isLightTheme$ | async)">
    <mat-progress-bar *ngIf="userService.loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit user</h1>
    <div mat-dialog-content >
        <form [formGroup]="updateForm" (ngSubmit)="saveUser()">
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label for="firstName">First name</mat-label>
                    <input id="firstName" type="text" [disabled]="userService.loading" formControlName="firstName" matInput placeholder="Enter the First name">
                    <mat-error *ngIf="updateForm.get('firstName')?.invalid && updateForm.get('firstName')?.errors?.['required']">Please enter a First name</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label for="lastName">Last Name</mat-label>
                    <input id="lastName" [disabled]="userService.loading" [formControl]="updateForm.controls['lastName']" matInput required placeholder="Enter the last name">
                    <mat-error *ngIf="updateForm.get('lastName')?.invalid && updateForm.get('lastName')?.errors?.['required']">Please enter a Last Name</mat-error>
                </mat-form-field>
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label for="email">E-Mail</mat-label>
                    <input id="email" type="email" [disabled]="true" [formControl]="updateForm.controls['email']" matInput required placeholder="Enter the e-mail adress">
                </mat-form-field>
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label for="team">Team</mat-label>
                    <mat-select id="team" [disabled]="userService.loading" [formControl]="updateForm.controls['team']" required="" placeholder="Enter a team">
                        <mat-option *ngFor="let team of teams; index as i" value="{{ team }}">{{ team }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="updateForm.get('team')?.invalid && updateForm.get('team')?.errors?.['required']">Please select a team</mat-error>
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button [disabled]="userService.loading" (click)="dialogRef.close()" mat-button>Cancel</button>
                <button type="submit" [disabled]="userService.loading" mat-button cdkFocusInitial>Save</button>
            </div>
        </form>
    </div>
</div>