.site {
  height: 100vh;
  width: 100vw;
}

.login-card {
  width: 260px;
}

mat-form-field:first-child {
  margin-bottom: 16px;
}

.error-hint {
  color: #f44336;
}

.login-btns {
  display: flex;
  gap: 32px;
}