<div class="dashboard-section">
  <h2>Customer requests by priority</h2>
  <div class="dashboard-row">
    <app-request-info [title]="'Low'" [numberOfRequests]="LowPriorityCustomerRequests"></app-request-info>
    <app-request-info [title]="'Medium'" [numberOfRequests]="MediumPriorityCustomerRequests"></app-request-info>
    <app-request-info [title]="'High'" [numberOfRequests]="HighPriorityCustomerRequests"></app-request-info>
  </div>
</div>
<div class="dashboard-section">
  <h2>Customer requests by status</h2>
  <div class="dashboard-row">
    <app-request-info [title]="'Requests pending'" [numberOfRequests]="pendingCustomerRequests"></app-request-info>
    <app-request-info [title]="'Requests in progress'" [numberOfRequests]="in_progressCustomerRequests"></app-request-info>
    <app-request-info [title]="'Requests closed'" [numberOfRequests]="closedCustomerRequests"></app-request-info>
    <app-request-info [title]="'Requests total'" [numberOfRequests]="numberOfAllCustomerRequests"></app-request-info>
  </div>
</div>
<div class="dashboard-section">
  <h2>Customer Request by subject area</h2>
  <div class="dashboard-row">
    <app-request-info [title]="'Customer Service'" [numberOfRequests]="Customer_ServiceCustomerRequests"></app-request-info>
    <app-request-info [title]="'Offer'" [numberOfRequests]="OfferCustomerRequests"></app-request-info>
    <app-request-info [title]="'Orders'" [numberOfRequests]="OrderCustomerRequests"></app-request-info>
    <app-request-info [title]="'Invoice'" [numberOfRequests]="InvoiceCustomerRequests"></app-request-info>
    <app-request-info [title]="'Sales'" [numberOfRequests]="SalesCustomerRequests"></app-request-info>
  </div>
</div>