.add-customer-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

.customer-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 28px;
  }
}

.mat-mdc-card-content {

  &:last-child {
    padding-bottom: 8px;
  }
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;

  tr {
    cursor: pointer;

    &:first-child {
      cursor: unset;

      &:hover {
        background-color: unset;
      }
    }

    &:last-child {
      border-bottom: unset;
    }
  }

  th {
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: start;

    &:first-child {
      padding-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
      ;
    }
  }

  td {
    height: 48px;
    width: 25%;

    &:first-child {
      padding-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
      ;
    }
  }
}