<div  [class.light-theme]="isLightTheme$ | async" [class.dark-theme]="!(isLightTheme$ | async)" class="site">  
  <mat-drawer-container autosize class="side-menu">
    <mat-drawer #drawer mode="side" [opened]="authService.isUserLoggedIn" class="side-menu-content">
      <div class="logo-container">
        <img *ngIf="(isLightTheme$ | async)" routerLink="dashboard" src="../assets/img/logo-light.png" alt="simpleCRM Logo" class="logo">
        <img *ngIf="!(isLightTheme$ | async)" routerLink="dashboard" src="../assets/img/logo-dark.png" alt="simpleCRM Logo" class="logo">
      </div>

      <mat-divider></mat-divider>

      <ul class="menu-items">
        <li routerLink="dashboard"><mat-icon>space_dashboard</mat-icon> Dashboard</li>
        <li routerLink="customer"><mat-icon>person_outline</mat-icon>Customer</li>
        <li routerLink="user"><mat-icon>people</mat-icon>User</li>
      </ul>
    </mat-drawer>

    <mat-toolbar color="primary">
      <div class="toolbar-left">
        <button (click)="drawer.toggle()" [disabled]="!authService.isUserLoggedIn" type="button" mat-icon-button matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>simpleCRM</span>
      </div>
      
      <div class="toolbar-right">
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="btn-edit-user">
          <mat-icon>manage_accounts</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <button *ngIf="isLightTheme$ | async" (click)="toggleTheme()" mat-menu-item><mat-icon fontIcon="nights_stay"></mat-icon>Dark Mode</button>
          <button *ngIf="!(isLightTheme$ | async)" (click)="toggleTheme()" mat-menu-item><mat-icon fontIcon="light_mode"></mat-icon>Light Mode</button>
          <button *ngIf="authService.isUserLoggedIn && !authService.isGuestLogin" (click)="changePassword()" mat-menu-item><mat-icon fontIcon="password"></mat-icon>Change password</button>
          <button *ngIf="authService.isUserLoggedIn" (click)="authService.userSignOut()" mat-menu-item><mat-icon fontIcon="logout"></mat-icon>Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar> 
    <div class="router-container">
      <app-login *ngIf="!authService.isUserLoggedIn"></app-login>
      <router-outlet *ngIf="authService.isUserLoggedIn"></router-outlet>
    </div>
  </mat-drawer-container>
</div>