

<div  [class.light-theme]="isLightTheme$ | async" [class.dark-theme]="!(isLightTheme$ | async)" class="site">  
  <mat-drawer-container autosize class="side-menu">
    <mat-drawer #drawer mode="side" [opened]="authService.isUserLoggedIn" class="side-menu-content">
      <div class="logo-container">
        <img *ngIf="(isLightTheme$ | async)" routerLink="dashboard" src="../assets/img/logo-light.png" alt="simpleCRM Logo" class="logo">
        <img *ngIf="!(isLightTheme$ | async)" routerLink="dashboard" src="../assets/img/logo-dark.png" alt="simpleCRM Logo" class="logo">
      </div>

      <mat-divider></mat-divider>

      <ul class="menu-items">
        <li routerLink="dashboard"><mat-icon>space_dashboard</mat-icon> Dashboard</li>
        <li routerLink="user"><mat-icon>people</mat-icon>User</li>
      </ul>
    </mat-drawer>

    <mat-toolbar color="primary">
      <div class="toolbar-left">
        <button (click)="drawer.toggle()" [disabled]="!authService.isUserLoggedIn" type="button" mat-icon-button matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>simpleCRM</span>
      </div>
      
      <button (click)="toggleTheme()" mat-icon-button matTooltip="Change Color Mode" type="button">
        <mat-icon *ngIf="isLightTheme$ | async">nights_stay</mat-icon>
        <mat-icon *ngIf="!(isLightTheme$ | async)">light_mode</mat-icon>
      </button>
    </mat-toolbar> 
    <div class="router-container">
      <app-login *ngIf="!authService.isUserLoggedIn"></app-login>
      <router-outlet *ngIf="authService.isUserLoggedIn"></router-outlet>
    </div>
  </mat-drawer-container>
</div>