<div [class.light-theme]="isLightTheme" [class.dark-theme]="!isLightTheme" class="site">
  

  <mat-drawer-container autosize class="side-menu">
    <mat-drawer #drawer mode="side" [opened]="true" class="side-menu-content">
      <div class="logo-container">
        <img *ngIf="isLightTheme" src="../assets/img/logo-light.png" alt="simpleCRM Logo" class="logo">
        <img *ngIf="!isLightTheme" src="../assets/img/logo-dark.png" alt="simpleCRM Logo" class="logo">
      </div>

      <mat-divider></mat-divider>

      <ul class="menu-items">
        <li><mat-icon>space_dashboard</mat-icon> Dashboard</li>
        <li><mat-icon>people</mat-icon>User</li>
      </ul>
    </mat-drawer>

    <mat-toolbar color="primary">
      <div class="toolbar-left">
        <button (click)="drawer.toggle()" type="button" mat-icon-button matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>simpleCRM</span>
      </div>
      
      <button (click)="toggleTheme()" mat-icon-button matTooltip="Change Color Mode" type="button">
        <mat-icon *ngIf="isLightTheme">nights_stay</mat-icon>
        <mat-icon *ngIf="!isLightTheme">light_mode</mat-icon>
      </button>
    </mat-toolbar>  
  </mat-drawer-container>

  <router-outlet></router-outlet>
</div>