<div>
    <button (click)="openDialog(this.isLightTheme, this.customerId)" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
</div>

<table class="contacts-table">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
    <tr>
        <td>Erster Name</td>
        <td>01234 567890</td>
        <td>erster.name@mail.de</td>
        <td>Cheffe</td>
    </tr>
    <tr>
        <td>Zweiter Name</td>
        <td>01234 567892</td>
        <td>zweiter.name@mail.de</td>
        <td>Project Manager</td>
    </tr>
</table>