<div>
    <button (click)="openDialog(this.isLightTheme)" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
</div>

<table class="contacts-table">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
    <!-- <tr *ngFor="let customerContact of customerContacts">
        <td>{{ customerContact.firstName }} {{ customerContact.lastName }} </td>
        <td>{{ customerContact.phone }}</td>
        <td>{{ customerContact.email }}</td>
        <td>{{ customerContact.position }}</td>
    </tr> -->
</table>