.contacts-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: unset;
        }
    }

    th {
        padding-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }

    td {
        height: 40px;
    }
}