.user-detail-header {
    height: 200px;
    background-color: #5c0080;
    display: flex;
    justify-content: flex-end;

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    h2,
    p {
        margin-bottom: 0;
    }

    .user-detail-header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
}