<mat-card class="user-detail-header">
    <mat-card-content class="user-detail-header-content">
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="btn-edit-user">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="editUserDetail()">Edit user</button>
        </mat-menu>

        <!-- <img src="./assets/img/profile.png" alt=""> -->
        <div>
            <h2>{{ databaseService.user.firstName }} {{ databaseService.user.lastName }} ({{ databaseService.user.shortName }})</h2>
            <p>{{ databaseService.user.email }}</p>
            <p>{{ databaseService.user.team }}</p>
        </div>
    </mat-card-content>
</mat-card>
