<mat-card class="user-detail-header">
    <mat-card-content class="user-detail-header-content">
        <img src="./assets/img/profile.png" alt="">
        <div>
            <h2>Max Mustermann</h2>
            <p>mm@eine-seite.de</p>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Musterstraße 1</p>
        <p>12345 Musterstadt</p>
    </mat-card-content>
</mat-card>
