@import '@angular/material/theming';
@include mat-core();


$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent
    )
));


$dark-primary: mat-palette($mat-pink);
$dark-accent:  mat-palette($mat-blue-gray, A200, A100, A400);
$dark-theme:   mat-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent
    )
));


.light-theme {
    @include angular-material-theme($light-theme);
    background-color: #f1f1f1;
}

.dark-theme {
    @include angular-material-theme($dark-theme);
    background-color: #303030;
    color: white;
}

html, 
body { 
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px 'Roboto', sans-serif !important;
}

mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}