@use '@angular/material' as mat;
@include mat.core();


$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette(mat.$indigo-palette),
        accent: mat.define-palette(mat.$pink-palette),
    ),
));


$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette(mat.$pink-palette),
        accent: mat.define-palette(mat.$blue-gray-palette),
    ),
));


.light-theme {
    @include mat.core-color($light-theme);
    @include mat.all-component-themes($light-theme);
}

.dark-theme {
    @include mat.core-color($dark-theme);
    @include mat.all-component-themes($dark-theme);
}

.dark-theme .mat-datepicker-content {
    background-color: #303030;
}


html, 
body { 
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px 'Roboto', sans-serif !important;
}

mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w-100 {
    width: 100%;
}